    
   <script>
 function autoRefresh1()
{
       window.location.reload();
}
 
 setInterval('autoRefresh1()', 10000); // this will reload page after every 5 secounds; Method II
            </script>

<div id="result">

<div ng-repeat="matches in liveMatches">
<div class="card" style="width: 19rem; margin: 0px 0px 10px 0px;" ng-repeat="match in matches.live">
  <div class="card-block">
    <p class="live">Live</p><a class="fa fa-circle icon" href="#"></a>
    <div style="clear:both"></div>
    <h4 class="card-title" style="text-align:center; font-size:17px;">{{match.event}}</h4>
    <p class="card-text" style="text-align: center;"><strong>{{match.team1}}</strong> VS <strong>{{match.team2}}</strong></p>
  </div>
  <ul class="list-group list-group-flush" ng-repeat="map in match.maps">
    <li class="list-group-item">Map: <strong>{{map.name}}</strong></li>
    <li class="list-group-item">{{match.team1}} <strong>{{map.team1_score}}</strong> -  <strong>{{map.team2_score}}</strong> {{match.team2}}</li>
  </ul>
</div>
</div>

</div>