/* app css stylesheet */
.noLiveMatches {
    color: #fff;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
}

.noLiveMatches span {
  font-size:10px;
  font-weight: 100;
}
.navbar {padding:0!important;}
.divider {margin-left:5px; margin-right:5px;}
.newsTicker {color:#fff; display: inline-block;font-size: 12px;}
.newsMarquee {margin-top:-15px;}
.simple-marquee-container *{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
  font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.simple-marquee-container {
  width: 100%;
  background-color: #181818;
  float: left;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  height: 45px;
  position: relative;
  cursor: pointer;
}

.simple-marquee-container .marquee-sibling {
  padding: 0;
  background-color: #303030;
  width: 27%;
  height: 45px;
  line-height: 42px;
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  position:absolute;
  z-index: 2000;
}

.container-fluid {
  margin-bottom: 100px;
}

/*.simple-marquee-container .marquee, .simple-marquee-container *[class^="marquee"] {
  display: inline-block;
  white-space: nowrap;
  position:absolute;
}

.simple-marquee-container .marquee{
  margin-left: 25%;
}*/

.teamLose {
  color:#ff5656;
}

.teamWon {
  color:#5be85b;
  font-weight: 900;
}

.circleLogo {
  width: 10%;
  margin: 0 auto;
}
.navibar {
    background-color: #181818;
    /* position: fixed; */
    top: 0px;
    height: 45px;
    margin-top: -25px;
    margin-bottom: 40px;
}
.loadingIcon {
  font-size: 30px;
  text-align: center;
}
.loadingText {  
  color: #fff;
  font-size: 13px;
  position: relative;
  top: -20px;
}
.table-dark {
  opacity: 0.9;
  margin-top: 20px;
}
.iconExplanation {
  font-size: 10px;
}
.form-control {
  font-size: 15px!important;
}
a {
  color: #ef405f!important;
}
footer {
  position: fixed;
  height: 75px;
  bottom: 0;
  width: 100%;
  background-color: #181818;
}

.card-block {
  background-color: #212121;
  color: white;
}
.list-group-item {    
  background-color: #fff;
  margin-top: 1px !important;
  border:none!important;}

  .card {    
    background-color: #24387f!important;
  }

  .mapPreview {    
    background-color: #1d1d1d !important;
    color: white;}

    .mapPreview img {width:100%;}
    .mapPreview {
      font-size: 12px;
      text-align: center;}

      .table {
       display: block !important;
       font-size: 9px;
     }

     .live {padding:5px;}
     a.icon{
      text-decoration: none;
      color: #f00;
      font-size: 7px;
      /* margin-bottom: 10px; */
      margin-left: 0px;
      float: left;
      padding: 15px;
    }


    .fa-circle:before {
      position: absolute;
    }

    .icon:before{
      -webkit-animation: pulse 2s ease-in;
      -moz-animation: pulse 2s ease-in;
      animation: pulse 2s ease-in;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      animation-iteration-count: infinite;    
    }
    @keyframes pulse {
      0% {
        -webkit-transform: scale(1);
        opacity: 0.0;
      }
      25% {
        -webkit-transform: scale(1.35);
        opacity: 0.1;
      }
      50% {
        -webkit-transform: scale(1.7);
        opacity: 0.3;
      }
      75% {
        -webkit-transform: scale(2.05);
        opacity: 0.5;
      }
      100% {
        -webkit-transform: scale(2.4);
        opacity: 0.0;
      }
    }
    .navbar-more { display:none !important; }

    html, body {
      height: 100%;
      background-image: url(bg.jpg);
      background-size: cover;
      background-position: 66% 100%;
    }



    .animate {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    .navbar {

      -webkit-transform: translate(0px, calc(-100% + 69px));
      transform: translate(0px, calc(-100% + 69px));
    }
    .navbar .container:not(.navbar-more) {
      padding: 0px;
    }
    .navbar-more-overlay {
      background-color: rgba(102, 102, 102, 0.55);
      display: none;
      height: 100%;
      left: 0px;
      position: fixed;
      top: 0px;
      width: 100%;
      z-index: 1029;
    }
    .navbar-more-show > .navbar-more-overlay {
      display: block;
    }
    .navbar-more-show > .navbar {
      -webkit-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
    }
    .navbar-nav.mobile-bar {
      list-style: none;
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-align-items: stretch;
      align-items: stretch;
      margin: 0px 0px;
    }
    .navbar-nav.mobile-bar > li {
      -webkit-flex-grow: 1;
      flex-grow: 1;
      text-align: center;
    }
    .navbar-nav.mobile-bar > li > a > span.menu-icon {
      display: block;
      font-size: 1.8em;
    }
    .navbar-more {
      background-color: rgb(255, 255, 255);
      height: calc(100% - 69px);
      overflow: auto;
    }
    .navbar-more .navbar-form {
      border-width: 0px;
    }
    .navbar-more .navbar-nav > li > a {
      color: rgb(64, 64, 64);   
    }
    .navbar-more > .navbar-nav > li > a > span.menu-icon {
      margin-left: 10px;
      margin-right: 10px;
    }

    @media (min-width: 768px) {
      .navbar {
        height: auto;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
      }
      .navbar-nav.mobile-bar {
        display: block;
        max-height: 64px;
        margin: 0px -15px;
      }
      .navbar-nav.mobile-bar > li > a > span.menu-icon {
        display: none;
      }
    }
    .menu {
      list-style: none;
      border-bottom: 0.1em solid black;
      margin-bottom: 2em;
      padding: 0 0 0.5em;
    }

    .menu:before {
      content: "[";
    }

    .menu:after {
      content: "]";
    }

    .menu > li {
      display: inline;
    }

    .menu > li + li:before {
      content: "|";
      padding-right: 0.3em;
    }


    .search { position: relative; }
    .search .fa-times { 
      position: absolute;
      top: 6px;
      font-size: 25px;
      right: 10px;
    }