<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="components/css/bootstrap.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="components/js/marquee.js"></script>
<!--   <script src="components/js/scroller.js"></script> -->
  <link rel="stylesheet" href="components/css/font-awesome.css">
</head>
<body style="background-color: #1b1b1b;">
  <nav class="navbar navbar-inverse navibar">
  <div class="container" ng-controller="View1Ctrl">
<div class="simple-marquee-container">
  <div class="marquee-sibling">
    <i class="fa fa-newspaper-o" aria-hidden="true"></i> HLTV News
  </div>
  <marquee class="newsMarquee" scrollamount="5" ng-repeat="foo in allNews">
      <p class="newsTicker" ng-repeat="news in foo">
          {{news.title}}<span class="divider">•</span>
      </p> 
</marquee>
  </div>
</div><!--Controller div ends -->
</nav>

  <div class="container-fluid">
  <div ng-view></div>
</div>
<footer class="fixed-bottom">
  
    <div class="container">
      <ul class="nav navbar-nav navbar mobile-bar" style="margin-top: 15px;">
        <li class="hidden-xs">
          <a href="#!/view1">
            <span class="menu-icon fa fa-calendar"></span>
            <p class="iconExplanation">Upcoming</p>
          </a>
        </li>
        <li class="hidden-xs">
          <a href="#!/view2">
            <span class="menu-icon fa fa-rss"></span>
                      <p class="iconExplanation">Live Matches</p>
          </a>
        </li>
        <li class="hidden-xs">
          <a href="#!/view3">
          <span class="menu-icon fa fa-retweet"></span>
                    <p class="iconExplanation">Results</p>
          </a>
        </li>
      </ul>
    </div>

</footer>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="https://rawgit.com/sagiegurari/simple-web-notification/master/web-notification.js"></script>
        <script type="text/javascript" src="https://rawgit.com/sagiegurari/angular-web-notification/master/angular-web-notification.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="view3/view3.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
